body{
    background-image: url(rockPaperScissors.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
}
.all1{
    font-family: cursive;
    font-size: 3rem;;
    text-align: center;
    color: aquamarine;
}
input{
    width:50%;
    height:50px;
    font-size: 2rem;
    font-family: cursive;
    border:2px solid;
    text-align: center;
    background-color: aliceblue;
}
input:hover{
    transition:350ms;
    transform:scale(1.1);    
}
button{
    padding: 20px 40px 20px 40px;
    background-color: rgb(169, 222, 238);
    font-family: cursive;
    font-size:1.2rem;
}
button:hover{
    transition:350ms;
    transform:scale(1.1);
    background-color: aliceblue;
}
.all2{
    font-family: cursive;
    text-align: center;
}
h1{
    font-size: 4.5rem;
    color:aquamarine;
}
h2{
    font-size:3rem;
    color:antiquewhite;
}
.sectionAll{
    border: 1px solid;
    background-color: rgba(37, 36, 36, 0.61);
    /* width: 100%; */
}
@media (min-width:380px) and (max-width:414px) {
   .all2 h1{
       font-size: 2rem;
   }

   .sectionAll{
       padding-top: 2rem;
   }

   .all1 #title{
       margin-top: 5rem;
       font-size: 2rem;
   }

   .all2 h2{
    font-size: 2rem;
    }

    .sectionAll{
        border: 1px solid red;
        padding-bottom: 8.3rem;
    }
}